<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title ng-bind="title + ' • ' + (user.displayName || user.name)"><%= title %></title>
	<base href="/">

	<link rel="stylesheet" type="text/css" href="<%= mainCss %>">
	<link rel="shortcut icon" href="/img/logo.png" />
	<link rel="apple-touch-icon" href="/img/logo.png"/>

	<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div id="likeastoreApp" style="display:none;">
		<!-- <nav>
			<h1>Demo nav</h1>
		</nav> -->

		<div class="container">
			<header class="header">
				<div class="header-wrap clearfix">
					<a href="/" class="logo left" title="likeastore"></a>

					<!-- <div class="notifications left">
						<i class="font-icon bell-icon icon" ng-click="showNoty = !showNoty ? true : false"></i>

						<div class="dropdown-noty" ng-class="{'active': showNoty}">
							<h2>Your notifications</h2>
							<div class="content">
								You will receive notifications when people appreciate, comment on or collect your likes.
							</div>
						</div>
					</div> -->

					<!-- <nav class="nav left">
						<ul>
							<li><a href="/discover" class="nav-link">Discover</a></li>
							<li><a href="/collections" class="nav-link">Collections</a></li>
						</ul>
					</nav> -->

					<div class="user-box right">
						<a href="/u/{{user.name}}" class="username">{{user.displayName || user.name}}</a>
						<img ng-src="{{user.avatar}}" class="avatar" alt="{{user.name}}" ng-click="showDropdown = !showDropdown ? true : false">
						<a href="" class="font-icon arrow-down-icon icon" ng-click="showDropdown = !showDropdown ? true : false" ng-class="{'arrow-up-icon': showDropdown}"></a>
						<ul class="dropdown-menu" ng-class="{'active': showDropdown}">
							<li><a href="/u/{{user.name}}" class="menu-link">Profile</a></li>
							<li><a href="/settings" class="menu-link">Settings</a></li>
							<li><a href="/suggest" class="menu-link">Find people</a></li>
							<li><a href="" class="menu-link invite">Invite friend!</a></li>
							<li><a href="/logout" class="menu-link">Logout</a></li>
						</ul>
					</div>
				</div>
			</header>

			<!-- <section class="subheader">
				<div class="subheader-wrap">
					<ul>
						<li><a href="" class="service-link active">All</a></li>
						<li ng-repeat="network in networks"
							ng-init="type = network.service === 'gist' ? 'github' : network.service"
							ng-class="{'hide': network.service === 'gist'}">
							<a href="" class="service-link"><i class="font-icon {{type}}-icon icon"></i> {{type}}</a>
						</li>
					</ul>
				</div>
			</section> -->

			<div class="main-viewer" ng-view></div>
		</div>


		<!-- <div ng-show="user.warning" ng-class="{'animated fadeInDown': user.warning, 'closed': user.warningHidden}" class="network-error">
			Some connections have expired, new likes are not collected. <a href="/settings">Click here to continue collecting.</a>
			<a href="" class="hide-network-error" ng-click="user.warning=false"></a>
		</div>

		<header class="main-header clearfix" ng-show="user" ng-include="'partials/header'"></header>
		<div class="main-viewer" ng-view></div> -->
	</div>

	<%- partial('static/icon-preloader') %>

	<script type="text/javascript" src="/components/requirejs/require.js" data-main="<%= mainJs %>"></script>

	<script>window.appConfig = <%- JSON.stringify(appConfig) %>;</script>

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-41034999-2', 'likeastore.com');
		ga('send', 'pageview');
	</script>

	<!-- start Mixpanel -->
	<script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
	typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
	b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
	mixpanel.init("c5c59411e311ab48cfe2846460be7d7e", { track_pageview: false });</script>
	<!-- end Mixpanel -->

</body>
</html>