<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title ng-bind="title + ' • ' + (user.displayName || user.name)"><%= title %></title>
	<base href="/">

	<link rel="stylesheet" type="text/css" href="<%= mainCss %>">
	<link rel="shortcut icon" href="/img/logo.png" />
	<link rel="apple-touch-icon" href="/img/logo.png"/>

	<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body ng-class="{notify: user.warning}">
	<div id="likeastoreApp" style="display:none;">

		<nav sidebar-menu class="sidebar-nav st-menu"></nav>

		<div class="sidebar-overlay"></div>

		<div class="container">
			<div class="content" scrolly="showMore()">
				<div class="content-inner">
					<div class="network-error-stripe"
						ng-if="user.warning"
						ng-class="{'hide': !user.warning}">
						Some connections have expired, new likes are not collected. <a href="/settings">Click here to continue collecting.</a>
						<a href="" class="font-icon close-icon hide-error-stripe-icon" ng-click="user.warning=false"></a>
					</div>
					<header class="header">
						<div class="header-wrap clearfix">
							<div class="pusher-menu-link header-btn" ng-click="showSidebar()"><i class="font-icon menu-icon icon"></i>Menu</div>
							<div ng-show="networks.length" class="filters-bar" dropdown-menu="networks"></div>
							<a href="/" class="logo" title="likeastore"></a>
							<div class="control-bar">
								<div text-search></div>
								<div class="view-bar holder">
									<i class="font-icon grid-icon icon" ng-class="{active: user.viewMode === 'grid'}" ng-click="user.changeView('grid')"></i>
									<i class="font-icon list-icon icon" ng-class="{active: user.viewMode === 'list'}" ng-click="user.changeView('list')"></i>
								</div>
							</div>
							<a href="" ng-click="goToConfig()" class="add-network-link header-btn"><i class="plus-icon font-icon icon"></i> Network</a>
						</div>
					</header>

					<div id="mainViewer" class="main-viewer" ng-view
						ng-class="{
							'list-view': user.viewMode === 'list',
							'grid-view': user.viewMode === 'grid'
						}">
					</div>

					<div ng-customer-voice="user.email"></div>
				</div>
			</div>
		</div>

		<%- partial('static/onboarding-light') %>
	</div>

	<%- partial('static/icon-preloader') %>
	<%- partial('static/templates') %>

	<script type="text/javascript" src="/components/requirejs/require.js" data-main="<%= mainJs %>"></script>

	<script>window.appConfig = <%- JSON.stringify(appConfig) %>;</script>

	<!-- Google analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-41034999-2', 'likeastore.com');
		ga('send', 'pageview');
	</script>

	<!-- start Mixpanel -->
	<script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
	typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
	b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
	mixpanel.init("c5c59411e311ab48cfe2846460be7d7e", { track_pageview: false });</script>
	<!-- end Mixpanel -->

</body>
</html>
