<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title ng-bind="title + ' • ' + (user.displayName || user.name)"><%= title %></title>
	<base href="/">

	<link rel="stylesheet" type="text/css" href="<%= mainCss %>">
	<link rel="shortcut icon" href="/img/logo.png" />
	<link rel="apple-touch-icon" href="/img/logo.png"/>

	<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body ng-class="{notify: user.warning}">
	<div id="likeastoreApp" style="display:none;">

		<nav sidebar-menu class="sidebar-nav st-menu"></nav>

		<div class="sidebar-overlay"></div>

		<div class="container">
			<div class="content" scrolly="showMore()">
				<div class="content-inner">
					<div class="network-error-stripe"
						ng-if="user.warning"
						ng-class="{'hide': !user.warning}">
						Some connections have expired, new likes are not collected. <a href="/settings">Click here to continue collecting.</a>
						<a href="" class="font-icon close-icon hide-error-stripe-icon" ng-click="user.warning=false"></a>
					</div>
					<header class="header">
						<div class="header-wrap clearfix">
							<div href="" class="pusher-menu-link header-btn" ng-click="showSidebar()"><i class="font-icon menu-icon icon"></i>Menu</div>
							<a href="/" class="logo" title="likeastore"></a>
							<a ng-show="ctaButtonType==='addNetwork'" href="/settings" class="add-network-link header-btn"><i class="plus-icon font-icon icon"></i> Network</a>
							<a ng-show="ctaButtonType==='logout'" href="" ng-click="user.logout()" class="add-network-link header-btn"><i class="logout-icon font-icon icon"></i> Sign out</a>
						</div>
					</header>

					<div class="main-viewer" ng-view></div>
				</div>
			</div>
		</div>

		<section ng-show="showPreviewHelp" class="first-time-box" ng-controller="firstTimeController">
			<div class="main-message-container">
				<div ng-show="slide1" class="inner-box animated fadeIn">
					<h1>Welcome to Likeastore</h1>
					<div class="text">Explore our <b>updated</b> interface and new features! Now you can manage all your favorites in one place, create collections and share what you like with your friends and co-workers much easier!</div>
					<div class="btn next-btn" ng-click="goToSlide(2)">Next</div>
				</div>

				<div ng-show="slide2" class="inner-box animated fadeIn">
					<img src="/img/network-screen.png" class="add-network-step-screen screen">
					<div class="tip add-network-step">
						<h2>Get started!</h2>
						<p>Add networks like Twitter and Facebook, all your favorites will be synchronized and collected automaticly.</p>
					</div>
					<div class="buttons">
						<div class="btn previous-btn" ng-click="goToSlide(1)">Previous</div>
						<div class="btn next-btn" ng-click="goToSlide(3)">Next</div>
					</div>
				</div>

				<div ng-show="slide3" class="inner-box slide3 animated fadeIn">
					<img src="/img/menu-screen.png" class="menu-step-screen screen">
					<div class="tip menu-step">
						<h2>Explore features</h2>
						<p>Check new possibilities that we offer and your profile and account info as well.</p>
					</div>

					<img src="/img/collection-screen.png" class="add-collection-step-screen screen">
					<div class="tip collections-step">
						<h2>Create collections</h2>
						<p>Organize content and favorites from different services by creating custom collections of them.</p>
					</div>

					<img src="/img/discover-screen.png" class="discover-step-screen screen">
					<div class="tip discover-step">
						<h2>Your friends</h2>
						<p>Find something new and discover what interests your friends and co-workers.</p>
					</div>

					<div class="cornered-buttons">
						<div class="btn previous-btn" ng-click="goToSlide(2)">Previous</div>
						<div class="btn ready-btn" ng-click="finish()">I'm ready!</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<%- partial('static/icon-preloader') %>
	<%- partial('static/templates') %>

	<script type="text/javascript" src="/components/requirejs/require.js" data-main="<%= mainJs %>"></script>

	<script>window.appConfig = <%- JSON.stringify(appConfig) %>;</script>

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-41034999-2', 'likeastore.com');
		ga('send', 'pageview');
	</script>

	<!-- start Mixpanel -->
	<script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
	typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
	b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
	mixpanel.init("c5c59411e311ab48cfe2846460be7d7e", { track_pageview: false });</script>
	<!-- end Mixpanel -->

</body>
</html>